@media screen and (max-width: 924px) {
  #topic-footer-buttons {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 925px) {
  #topic-footer-buttons {
    max-width: calc(100% - 186px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 22px);
  }
}

@media screen and (min-width: 926px) and (max-width: 927px) {
  #topic-footer-buttons {
    max-width: calc(100% - 187px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 21px);
  }
}

@media screen and (min-width: 928px) and (max-width: 929px) {
  #topic-footer-buttons {
    max-width: calc(100% - 188px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 20px);
  }
}
@media screen and (min-width: 930px) and (max-width: 931px) {
  #topic-footer-buttons {
    max-width: calc(100% - 189px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 19px);
  }
}

@media screen and (min-width: 932px) and (max-width: 933px) {
  #topic-footer-buttons {
    max-width: calc(100% - 190px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 18px);
  }
}

@media screen and (min-width: 934px) and (max-width: 935px) {
  #topic-footer-buttons {
    max-width: calc(100% - 191px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 17px);
  }
}

@media screen and (min-width: 936px) and (max-width: 937px) {
  #topic-footer-buttons {
    max-width: calc(100% - 192px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 16px);
  }
}
@media screen and (min-width: 938px) and (max-width: 939px) {
  #topic-footer-buttons {
    max-width: calc(100% - 193px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 15px);
  }
}
@media screen and (min-width: 940px) and (max-width: 941px) {
  #topic-footer-buttons {
    max-width: calc(100% - 194px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 14px);
  }
}
@media screen and (min-width: 942px) and (max-width: 943px) {
  #topic-footer-buttons {
    max-width: calc(100% - 195px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 13px);
  }
}
@media screen and (min-width: 944px) and (max-width: 945px) {
  #topic-footer-buttons {
    max-width: calc(100% - 196px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 12px);
  }
}
@media screen and (min-width: 946px) and (max-width: 947px) {
  #topic-footer-buttons {
    max-width: calc(100% - 197px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 11px);
  }
}
@media screen and (min-width: 948px) and (max-width: 949px) {
  #topic-footer-buttons {
    max-width: calc(100% - 198px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 10px);
  }
}
@media screen and (min-width: 950px) and (max-width: 951px) {
  #topic-footer-buttons {
    max-width: calc(100% - 199px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 9px);
  }
}
@media screen and (min-width: 952px) and (max-width: 953px) {
  #topic-footer-buttons {
    max-width: calc(100% - 200px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 8px);
  }
}
@media screen and (min-width: 954px) and (max-width: 955px) {
  #topic-footer-buttons {
    max-width: calc(100% - 201px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 7px);
  }
}
@media screen and (min-width: 956px) and (max-width: 957px) {
  #topic-footer-buttons {
    max-width: calc(100% - 202px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 6px);
  }
}
@media screen and (min-width: 958px) and (max-width: 959px) {
  #topic-footer-buttons {
    max-width: calc(100% - 203px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 5px);
  }
}
@media screen and (min-width: 960px) and (max-width: 961px) {
  #topic-footer-buttons {
    max-width: calc(100% - 204px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 4px);
  }
}
@media screen and (min-width: 962px) and (max-width: 963px) {
  #topic-footer-buttons {
    max-width: calc(100% - 205px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 3px);
  }
}
@media screen and (min-width: 964px) and (max-width: 965px) {
  #topic-footer-buttons {
    max-width: calc(100% - 206px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 2px);
  }
}
@media screen and (min-width: 966px) and (max-width: 967px) {
  #topic-footer-buttons {
    max-width: calc(100% - 207px);
  }

  #topic-title {
    max-width: calc(100% - 12em + 1px);
  }
}
@media screen and (min-width: 968px) and (max-width: 969px) {
  #topic-footer-buttons {
    max-width: calc(100% - 208px);
  }

  #topic-title {
    max-width: calc(100% - 12em);
  }
}
@media screen and (min-width: 970px) and (max-width: 971px) {
  #topic-footer-buttons {
    max-width: calc(100% - 209px);
  }

  #topic-title {
    max-width: calc(100% - 12em - 1px);
  }
}

@media screen and (min-width: 972px) and (max-width: 999px) {
  #topic-footer-buttons {
    width: unset;
    max-width: calc(100% - 75px - 9em);
  }
}
@media screen and (min-width: 1000px) and (max-width: 1000px) {
  #topic-footer-buttons {
    width: unset;
    max-width: calc(100% - 73px - 9em);
  }
}

@media screen and (min-width: 972px) and (max-width: 999px) {
  #topic-title {
    max-width: calc(100% - 12em - 2px);
  }
}
